@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url(../fonts/Roboto-Light--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url(../fonts/Roboto-Light--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url(../fonts/Roboto-Light--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url(../fonts/Roboto-Light--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url(../fonts/Roboto-Light--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url(../fonts/Roboto-Light--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url(../fonts/Roboto-Light--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url(../fonts/Roboto-Regular--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url(../fonts/Roboto-Regular--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url(../fonts/Roboto-Regular--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url(../fonts/Roboto-Regular--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url(../fonts/Roboto-Regular--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url(../fonts/Roboto-Regular--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url(../fonts/Roboto-Regular--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url(../fonts/Roboto-Medium--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url(../fonts/Roboto-Medium--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url(../fonts/Roboto-Medium--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url(../fonts/Roboto-Medium--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url(../fonts/Roboto-Medium--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url(../fonts/Roboto-Medium--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url(../fonts/Roboto-Medium--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url(../fonts/Roboto-Bold--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url(../fonts/Roboto-Bold--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url(../fonts/Roboto-Bold--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url(../fonts/Roboto-Bold--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url(../fonts/Roboto-Bold--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url(../fonts/Roboto-Bold--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url(../fonts/Roboto-Bold--font-roboto.woff) format("woff");
}

@font-face {
    font-family: Material Icons;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/materialIcons--icons-material-icons.woff2) format("woff2")
}

@font-face {
    font-family: Mina;
    font-style: normal;
    font-weight: 400;
    src: local("Mina"), local("Mina-Regular"), url(../fonts/Mina-Regular--font-mina.woff) format("woff");
}

@font-face {
    font-family: Mina;
    font-style: normal;
    font-weight: 400;
    src: local("Mina"), local("Mina-Regular"), url(../fonts/Mina-Regular--font-mina.woff) format("woff");
}

@font-face {
    font-family: Mina;
    font-style: normal;
    font-weight: 400;
    src: local("Mina"), local("Mina-Regular"), url(../fonts/Mina-Regular--font-mina.woff) format("woff");
}

@font-face {
    font-family: Mina;
    font-style: normal;
    font-weight: 700;
    src: local("Mina Bold"), local("Mina-Bold"), url(../fonts/Mina-Regular--font-mina.woff) format("woff");
}

@font-face {
    font-family: Mina;
    font-style: normal;
    font-weight: 700;
    src: local("Mina Bold"), local("Mina-Bold"), url(../fonts/Mina-Bold--font-mina.woff) format("woff");
}

@font-face {
    font-family: Mina;
    font-style: normal;
    font-weight: 700;
    src: local("Mina Bold"), local("Mina-Bold"), url(../fonts/Mina-Bold--font-mina.woff) format("woff");
}