* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #eee;
}

body {
    font-family: Mina, 'Century Gothic', 'Arial Narrow', 'Helvetica'
}

#advanced {
    /* display: none; */
}

#basic {
}

#basic div {
    background-color: black;
    width: 25%;
    height: 20%;
    color: white;
    /* 行高等于元素height实现文本垂直居中 */
    line-height: 75px;
}

#advanced div {
    background-color: black;
    width: 25%;
    height: 20%;
    color: white;
    line-height: 75px;
}

#basic,#advanced {
    background: black;
    text-align: center;
    font-size: 18px;
    width: 50%;
    height: 375px;
    display: flex;
    flex-wrap: wrap;
    float: left;
}

#screen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 169px;
    width: 100%;
    background: #8caeb3;
    color: black;
    font-size: 18px;
    /* padding: 0 8px; */
}

#screen div {
    padding: 0 8px;
    width: 100%;
    text-align: right;
}

/* 输入框 */

#screen div:last-child {
    border-top: 1px solid black;
}

section {
    position: fixed;
    width: 100%;
}

.red {
    color: red;
}

.lime {
    color: lime;
}

#keyboard>div>div:hover {
    /* 反色 */
    filter: invert(100%);
    /* Chrome, Safari, Opera */
    --webkit-filter: invert(100%);
}
/* 每个按键 */
#keyboard>div>div {
    transition: border-radius .1s;
    cursor: pointer;
    border-radius: 2px;
}

/* 鼠标按下时 */
#keyboard>div>div:active {
    border-radius: 50%;
}